body {
   font-family: georgia;
   line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
   font-family: arial;
   margin-top: 1.5em;
   margin-bottom: .5em;
   color: red
}

.container {
   max-width: 48em;
   margin: 0 auto;
   padding: 0 2em;
}